In [1]:
import os
import sys
os.environ["PYSPARK_PYTHON"] = "/opt/cloudera/parcels/Anaconda/bin/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_232-cloudera/jre"
os.environ["SPARK_HOME"]="/opt/cloudera/parcels/SPARK2-2.3.0.cloudera2-1.cdh5.13.3.p0.316101/lib/spark2/"
#os.environ['PYSPARK_SUBMIT_ARGS'] = '-- packages com.amazonaws:aws-java-sdk:1.7.4,org.apache.hadoop:hadoop-aws:2.7.3 --master local[2] pyspark-shell'
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [2]:
#import findspark
#findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [4]:
#conf = SparkConf().set('spark.executor.extraJavaOptions', '-Dcom.amazonaws.services.s3.enableV4=true').set('spark.driver.extraJavaOptions','-Dcom.amazonaws.services.s3.enableV4=true').setAppName('pyspark_aws').setMaster('local[*]')
#sc=SparkContext(conf=conf)
spark = SparkSession.builder.appName("pyspark_aws").getOrCreate()
sc = spark.sparkContext
sc.setSystemProperty('com.amazonaws.services.s3.enableV4', 'true')
accessKeyId='AKIA5F4VPWZTWQJQL5EM'
secretAccessKey='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'

hadoopConf = sc._jsc.hadoopConfiguration()
hadoopConf.set('fs.s3a.access.key', accessKeyId)
hadoopConf.set('fs.s3a.secret.key', secretAccessKey)
hadoopConf.set('fs.s3a.endpoint', 's3-us-east-1.amazonaws.com')
hadoopConf.set('fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem')
spark=SparkSession(sc)
spark

In [5]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType, DoubleType, LongType

In [6]:
fileSchema = StructType([StructField('Year', IntegerType(),True),
                        StructField('Month', StringType(),True),
                        StructField('Day', IntegerType(),True),
                        StructField('WeekDay', StringType(),True),
                        StructField('Hour', IntegerType(),True),
                        StructField('Atm_Status', StringType(),True),
                        StructField('Atm_Id', StringType(),True),
                        StructField('Atm_Manufacturer', StringType(),True),
                        StructField('Atm_Location', StringType(),True),
                        StructField('Atm_StreetName', StringType(),True),
                        StructField('Atm_StreetNum', IntegerType(),True),
                        StructField('Atm_Zipcode', IntegerType(),True),
                        StructField('Atm_Lat', DoubleType(),True),
                        StructField('Atm_Long', DoubleType(),True),
                        StructField('Currency', StringType(),True),
                        StructField('Card_type', StringType(),True),
                        StructField('Transaction_Amt', IntegerType(),True), 
                        StructField('Service', StringType(),True),
                        StructField('Message_Code', StringType(),True),
                        StructField('Message_Text', StringType(),True),
                        StructField('Weather_Lat', DoubleType(),True),
                        StructField('Weather_Long', DoubleType(),True),
                        StructField('Weather_CityId', IntegerType(),True),
                        StructField('Weather_CityName', StringType(),True), 
                        StructField('Temp', DoubleType(),True),
                        StructField('Pressure', IntegerType(),True), 
                        StructField('Humidity', IntegerType(),True), 
                        StructField('Wind_Speed', IntegerType(),True), 
                        StructField('Wind_Degree', IntegerType(),True), 
                        StructField('Rain_3h', DoubleType(),True), 
                        StructField('Clouds_All', IntegerType(),True), 
                        StructField('Weather_Id', IntegerType(),True), 
                        StructField('Weather_Main', StringType(),True), 
                        StructField('Weather_Description', StringType(),True),  
                        ])

In [7]:
# Reading data from csv to a DataFrame
bank_df = spark.read.csv('spar_nord_bank_atm/part-m-00000', header = False, schema = fileSchema)

In [8]:
bank_df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: string (nullable = true)
 |-- Day: integer (nullable = true)
 |-- WeekDay: string (nullable = true)
 |-- Hour: integer (nullable = true)
 |-- Atm_Status: string (nullable = true)
 |-- Atm_Id: string (nullable = true)
 |-- Atm_Manufacturer: string (nullable = true)
 |-- Atm_Location: string (nullable = true)
 |-- Atm_StreetName: string (nullable = true)
 |-- Atm_StreetNum: integer (nullable = true)
 |-- Atm_Zipcode: integer (nullable = true)
 |-- Atm_Lat: double (nullable = true)
 |-- Atm_Long: double (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Card_type: string (nullable = true)
 |-- Transaction_Amt: integer (nullable = true)
 |-- Service: string (nullable = true)
 |-- Message_Code: string (nullable = true)
 |-- Message_Text: string (nullable = true)
 |-- Weather_Lat: double (nullable = true)
 |-- Weather_Long: double (nullable = true)
 |-- Weather_CityId: integer (nullable = true)
 |-- Weather_CityName: string (nullable = true)
 |-- Temp: double (nullable = true)
 |-- Pressure: integer (nullable = true)
 |-- Humidity: integer (nullable = true)
 |-- Wind_Speed: integer (nullable = true)
 |-- Wind_Degree: integer (nullable = true)
 |-- Rain_3h: double (nullable = true)
 |-- Clouds_All: integer (nullable = true)
 |-- Weather_Id: integer (nullable = true)
 |-- Weather_Main: string (nullable = true)
 |-- Weather_Description: string (nullable = true)

In [9]:
bank_df.show(5)

+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-------------+-----------+-------+--------+--------+----------+---------------+----------+------------+------------+-----------+------------+--------------+----------------+------+--------+--------+----------+-----------+-------+----------+----------+------------+--------------------+
|Year|  Month|Day|WeekDay|Hour|Atm_Status|Atm_Id|Atm_Manufacturer|Atm_Location|     Atm_StreetName|Atm_StreetNum|Atm_Zipcode|Atm_Lat|Atm_Long|Currency| Card_type|Transaction_Amt|   Service|Message_Code|Message_Text|Weather_Lat|Weather_Long|Weather_CityId|Weather_CityName|  Temp|Pressure|Humidity|Wind_Speed|Wind_Degree|Rain_3h|Clouds_All|Weather_Id|Weather_Main| Weather_Description|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-------------+-----------+-------+--------+--------+----------+---------------+----------+------------+------------+-----------+------------+--------------+----------------+------+--------+--------+----------+-----------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|  NÃƒÂ¦stved|        Farimagsvej|            8|       4700| 55.233|  11.763|     DKK|MasterCard|           5643|Withdrawal|        null|        null|      55.23|      11.761|       2616038|        Naestved|281.15|    1014|      87|         7|        260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|           20|       9000| 57.043|    9.95|     DKK|MasterCard|           1764|Withdrawal|        null|        null|     57.048|       9.935|       2616235|  NÃƒÂ¸rresundby|280.64|    1020|      93|         9|        250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|           20|       9000| 57.043|    9.95|     DKK|      VISA|           1891|Withdrawal|        null|        null|     57.048|       9.935|       2616235|  NÃƒÂ¸rresundby|280.64|    1020|      93|         9|        250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|           12|       7430| 56.139|   9.154|     DKK|      VISA|           4166|Withdrawal|        null|        null|     56.139|       9.158|       2619426|           Ikast|281.15|    1011|     100|         6|        240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|  Svogerslev|       BrÃƒÂ¸nsager|            1|       4000| 55.634|  12.018|     DKK|MasterCard|           5153|Withdrawal|        null|        null|     55.642|       12.08|       2614481|        Roskilde|280.61|    1014|      87|         7|        260|    0.0|        88|       701|        Mist|                mist|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-------------+-----------+-------+--------+--------+----------+---------------+----------+------------+------------+-----------+------------+--------------+----------------+------+--------+--------+----------+-----------+-------+----------+----------+------------+--------------------+
only showing top 5 rows

In [10]:
bank_df.columns

['Year',
 'Month',
 'Day',
 'WeekDay',
 'Hour',
 'Atm_Status',
 'Atm_Id',
 'Atm_Manufacturer',
 'Atm_Location',
 'Atm_StreetName',
 'Atm_StreetNum',
 'Atm_Zipcode',
 'Atm_Lat',
 'Atm_Long',
 'Currency',
 'Card_type',
 'Transaction_Amt',
 'Service',
 'Message_Code',
 'Message_Text',
 'Weather_Lat',
 'Weather_Long',
 'Weather_CityId',
 'Weather_CityName',
 'Temp',
 'Pressure',
 'Humidity',
 'Wind_Speed',
 'Wind_Degree',
 'Rain_3h',
 'Clouds_All',
 'Weather_Id',
 'Weather_Main',
 'Weather_Description']

In [11]:
bank_df.select().count()

2468572

In [12]:
from pyspark.sql.functions import desc, row_number, monotonically_increasing_id
from pyspark.sql.window import Window  

bank_df_indexed = bank_df.withColumn("Id", row_number().over(Window.orderBy(monotonically_increasing_id())) - 1)

In [13]:
bank_df_indexed.select('Id', 'Year', 'Month', 'Day', 'WeekDay', 'Hour').show(5)

+---+----+-------+---+-------+----+
| Id|Year|  Month|Day|WeekDay|Hour|
+---+----+-------+---+-------+----+
|  0|2017|January|  1| Sunday|   0|
|  1|2017|January|  1| Sunday|   0|
|  2|2017|January|  1| Sunday|   0|
|  3|2017|January|  1| Sunday|   0|
|  4|2017|January|  1| Sunday|   0|
+---+----+-------+---+-------+----+
only showing top 5 rows

In [14]:
## Card_Type Dimension
bank_df.select('Card_Type').distinct().count()

12

In [15]:
card_type_dim = bank_df.select('Card_Type').distinct()
card_type_dim = card_type_dim.withColumnRenamed('Card_Type', 'card_type')
card_type_dim = card_type_dim.withColumn("card_type_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
card_type_dim = card_type_dim.select('card_type_id', 'card_type')
card_type_dim.show()

+------------+--------------------+
|card_type_id|           card_type|
+------------+--------------------+
|           1|     Dankort - on-us|
|           2|              CIRRUS|
|           3|         HÃƒÂ¦vekort|
|           4|                VISA|
|           5|  Mastercard - on-us|
|           6|             Maestro|
|           7|Visa Dankort - on-us|
|           8|        Visa Dankort|
|           9|            VisaPlus|
|          10|          MasterCard|
|          11|             Dankort|
|          12| HÃƒÂ¦vekort - on-us|
+------------+--------------------+

In [16]:
card_type_dim.write.format('csv').option('header','true').save('s3a://reshift-mashok-upgrad/card_type_dim/card_type_dim.csv', mode='overwrite')

Py4JJavaError: An error occurred while calling o126.save.
: org.apache.hadoop.fs.s3a.AWSClientIOException: doesBucketExist on reshift-mashok-upgrad: com.amazonaws.SdkClientException: Unable to execute HTTP request: reshift-mashok-upgrad.s3-us-east-1.amazonaws.com: Name or service not known: Unable to execute HTTP request: reshift-mashok-upgrad.s3-us-east-1.amazonaws.com: Name or service not known
	at org.apache.hadoop.fs.s3a.S3AUtils.translateException(S3AUtils.java:147)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.verifyBucketExists(S3AFileSystem.java:336)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.initialize(S3AFileSystem.java:283)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:2816)
	at org.apache.hadoop.fs.FileSystem.access$200(FileSystem.java:98)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:2853)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:2835)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:387)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:296)
	at org.apache.spark.sql.execution.datasources.DataSource.planForWritingFileFormat(DataSource.scala:452)
	at org.apache.spark.sql.execution.datasources.DataSource.planForWriting(DataSource.scala:548)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:278)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:267)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:225)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: com.amazonaws.SdkClientException: Unable to execute HTTP request: reshift-mashok-upgrad.s3-us-east-1.amazonaws.com: Name or service not known
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.handleRetryableException(AmazonHttpClient.java:1069)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.executeHelper(AmazonHttpClient.java:1035)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.doExecute(AmazonHttpClient.java:742)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.executeWithTimer(AmazonHttpClient.java:716)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.execute(AmazonHttpClient.java:699)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.access$500(AmazonHttpClient.java:667)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutionBuilderImpl.execute(AmazonHttpClient.java:649)
	at com.amazonaws.http.AmazonHttpClient.execute(AmazonHttpClient.java:513)
	at com.amazonaws.services.s3.AmazonS3Client.invoke(AmazonS3Client.java:4221)
	at com.amazonaws.services.s3.AmazonS3Client.invoke(AmazonS3Client.java:4168)
	at com.amazonaws.services.s3.AmazonS3Client.headBucket(AmazonS3Client.java:1306)
	at com.amazonaws.services.s3.AmazonS3Client.doesBucketExist(AmazonS3Client.java:1263)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.verifyBucketExists(S3AFileSystem.java:324)
	... 23 more
Caused by: java.net.UnknownHostException: reshift-mashok-upgrad.s3-us-east-1.amazonaws.com: Name or service not known
	at java.net.Inet6AddressImpl.lookupAllHostAddr(Native Method)
	at java.net.InetAddress$2.lookupAllHostAddr(InetAddress.java:929)
	at java.net.InetAddress.getAddressesFromNameService(InetAddress.java:1324)
	at java.net.InetAddress.getAllByName0(InetAddress.java:1277)
	at java.net.InetAddress.getAllByName(InetAddress.java:1193)
	at java.net.InetAddress.getAllByName(InetAddress.java:1127)
	at com.amazonaws.SystemDefaultDnsResolver.resolve(SystemDefaultDnsResolver.java:27)
	at com.amazonaws.http.DelegatingDnsResolver.resolve(DelegatingDnsResolver.java:38)
	at com.amazonaws.thirdparty.apache.http.impl.conn.DefaultHttpClientConnectionOperator.connect(DefaultHttpClientConnectionOperator.java:111)
	at com.amazonaws.thirdparty.apache.http.impl.conn.PoolingHttpClientConnectionManager.connect(PoolingHttpClientConnectionManager.java:353)
	at sun.reflect.GeneratedMethodAccessor44.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at com.amazonaws.http.conn.ClientConnectionManagerFactory$Handler.invoke(ClientConnectionManagerFactory.java:76)
	at com.amazonaws.http.conn.$Proxy40.connect(Unknown Source)
	at com.amazonaws.thirdparty.apache.http.impl.execchain.MainClientExec.establishRoute(MainClientExec.java:380)
	at com.amazonaws.thirdparty.apache.http.impl.execchain.MainClientExec.execute(MainClientExec.java:236)
	at com.amazonaws.thirdparty.apache.http.impl.execchain.ProtocolExec.execute(ProtocolExec.java:184)
	at com.amazonaws.thirdparty.apache.http.impl.client.InternalHttpClient.doExecute(InternalHttpClient.java:184)
	at com.amazonaws.thirdparty.apache.http.impl.client.CloseableHttpClient.execute(CloseableHttpClient.java:82)
	at com.amazonaws.thirdparty.apache.http.impl.client.CloseableHttpClient.execute(CloseableHttpClient.java:55)
	at com.amazonaws.http.apache.client.impl.SdkHttpClient.execute(SdkHttpClient.java:72)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.executeOneRequest(AmazonHttpClient.java:1190)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.executeHelper(AmazonHttpClient.java:1030)
	... 34 more

In [ ]:
## Location Dimension
bank_df.select('Atm_Location', 'Atm_StreetName','Atm_StreetNum','Atm_Zipcode','Atm_Lat', 'Atm_Long').distinct().count()

In [ ]:
location_dim = bank_df.select('Atm_Location', 'Atm_StreetName','Atm_StreetNum','Atm_Zipcode','Atm_Lat', 'Atm_Long').distinct()
location_dim = location_dim.withColumnRenamed('Atm_Location', 'location').withColumnRenamed('Atm_StreetName', 'streetname').withColumnRenamed('Atm_StreetNum', 'street_number').withColumnRenamed('Atm_Zipcode', 'zipcode').withColumnRenamed('Atm_Lat', 'lat').withColumnRenamed('Atm_Long', 'lon')
location_dim = location_dim.withColumn("location_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
location_dim = location_dim.select('location_id', 'location', 'streetname', 'street_number', 'zipcode','lat','lon')
location_dim.show(10)

In [ ]:
# ATM Dimension
bank_df.select('Atm_Id','Atm_Manufacturer', 'Atm_location', 'Atm_StreetName','Atm_StreetNum','Atm_Zipcode','Atm_Lat', 'Atm_Long').distinct().count()

In [ ]:
df1 = bank_df.select('Atm_Id','Atm_Manufacturer', 'Atm_location', 'Atm_StreetName','Atm_StreetNum','Atm_Zipcode','Atm_Lat', 'Atm_Long').distinct()
df2 = location_dim
df1 = df1.alias('df1')
df2 = df2.alias('df2')
atm_dim = df1.join(df2, (df1['Atm_location'] == df2['location']) & 
                        (df1['Atm_StreetName'] == df2['streetname']) & 
                        (df1['Atm_StreetNum'] == df2['street_number']) & 
                        (df1['Atm_Zipcode'] == df2['zipcode']) & 
                        (df1['Atm_Lat'] == df2['lat']) & 
                        (df1['Atm_Long'] == df2['lon'])).select('df1.Atm_Id', 'df1.Atm_Manufacturer', 'df1.Atm_location', 'df2.location_id')

atm_dim = atm_dim.withColumnRenamed('Atm_id', 'atm_number').withColumnRenamed('Atm_Manufacturer', 'atm_manufacturer').withColumnRenamed('Atm_Location', 'atm_location').withColumnRenamed('location_id', 'amt_location_id')
atm_dim = atm_dim.withColumn("atm_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
atm_dim = atm_dim.select('atm_id', 'atm_number', 'atm_manufacturer', 'atm_location', 'amt_location_id')
atm_dim.show(10)

In [19]:
atm_dim.count()

113

In [20]:
## Date Dimension
bank_df.select('Year','Month','Day','Hour').distinct().count()

8685

In [21]:
from pyspark.sql.functions import from_unixtime, unix_timestamp, to_date, concat_ws
bank_df = bank_df.withColumn("Month_Num",from_unixtime(unix_timestamp(bank_df['Month'],'MMM'),'MM'))
cols=["Year","Month_Num","Day","Hour"]
bank_df = bank_df.withColumn("full_date_time", to_date(concat_ws("-", *cols),"yyyy-MM-dd").cast("timestamp"))

In [22]:
from pyspark.sql.functions import concat_ws, to_date

date_dim = bank_df.select('Year','full_date_time','Month','Day','Hour','WeekDay').distinct()
date_dim = date_dim.withColumnRenamed('Year', 'year').withColumnRenamed('Month', 'month').withColumnRenamed('Day', 'day').withColumnRenamed('Hour', 'hour').withColumnRenamed('WeekDay', 'weekday')
date_dim = date_dim.withColumn("date_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
date_dim = date_dim.select('date_id', 'full_date_time', 'year', 'month', 'day', 'hour','weekday')
date_dim.show(10)

+-------+-------------------+----+--------+---+----+---------+
|date_id|     full_date_time|year|   month|day|hour|  weekday|
+-------+-------------------+----+--------+---+----+---------+
|      1|2017-01-03 00:00:00|2017| January|  3|  17|  Tuesday|
|      2|2017-01-06 00:00:00|2017| January|  6|   5|   Friday|
|      3|2017-01-31 00:00:00|2017| January| 31|   5|  Tuesday|
|      4|2017-02-03 00:00:00|2017|February|  3|   6|   Friday|
|      5|2017-02-08 00:00:00|2017|February|  8|   9|Wednesday|
|      6|2017-02-11 00:00:00|2017|February| 11|  13| Saturday|
|      7|2017-02-21 00:00:00|2017|February| 21|   9|  Tuesday|
|      8|2017-02-25 00:00:00|2017|February| 25|   0| Saturday|
|      9|2017-03-16 00:00:00|2017|   March| 16|   0| Thursday|
|     10|2017-03-19 00:00:00|2017|   March| 19|  22|   Sunday|
+-------+-------------------+----+--------+---+----+---------+
only showing top 10 rows

In [23]:
date_dim.count()

8685

In [24]:
# Fact Table 
df1 = bank_df_indexed
df2 = location_dim
df3 = card_type_dim
df4 = date_dim
df5 = atm_dim

df1 = df1.alias('df1')
df2 = df2.alias('df2')
df3 = df3.alias('df3')
df4 = df4.alias('df4')
df5 = df5.alias('df5')

bank_fact = df1.join(df2, (df1['Atm_location'] == df2['location']) & 
                        (df1['Atm_StreetName'] == df2['streetname']) & 
                        (df1['Atm_StreetNum'] == df2['street_number']) & 
                        (df1['Atm_Zipcode'] == df2['zipcode']) & 
                        (df1['Atm_Lat'] == df2['lat']) & 
                        (df1['Atm_Long'] == df2['lon'])).join(df3, df1['Card_type'] == df3['card_type']).join(df4, (df1['Year'] == df4['year']) & 
                           (df1['Month'] == df4['month']) & 
                           (df1['Day'] == df4['day']) & 
                           (df1['WeekDay'] == df4['weekday']) &
                           (df1['Hour'] == df4['hour'])).join(df5, (df1['Atm_Id'] == df5['atm_number']) & 
                           (df1['Atm_Manufacturer'] == df5['atm_manufacturer']) & 
                           (df1['Atm_Location'] == df5['atm_location'])).select(df1['Id'], df1['Atm_Status'],
                       df1['Currency'],df1['Service'],
                       df1['Transaction_Amt'],df1['Message_Code'],
                       df1['Message_Text'],df1['Rain_3h'],df1['Clouds_All'],
                       df1['Weather_Id'],df1['Weather_Main'], df1['Weather_Description'],
                       df2['location_id'], df3['card_type_id'], df4['date_id'], df5['atm_id'])
bank_fact.show(10)

+-------+----------+--------+----------+---------------+------------+------------+-------+----------+----------+------------+-------------------+-----------+------------+-------+------+
|     Id|Atm_Status|Currency|   Service|Transaction_Amt|Message_Code|Message_Text|Rain_3h|Clouds_All|Weather_Id|Weather_Main|Weather_Description|location_id|card_type_id|date_id|atm_id|
+-------+----------+--------+----------+---------------+------------+------------+-------+----------+----------+------------+-------------------+-----------+------------+-------+------+
| 572490|    Active|     DKK|Withdrawal|           2033|        null|        null|    0.0|        56|       701|        Mist|               mist|         50|          10|   1389|   104|
|1875473|    Active|     DKK|Withdrawal|           1243|        null|        null|    0.0|        32|       802|      Clouds|   scattered clouds|         50|           5|   6134|   104|
| 572489|    Active|     DKK|Withdrawal|           4502|        null|        null|    0.0|        56|       701|        Mist|               mist|         50|           5|   1389|   104|
|1875731|    Active|     DKK|Withdrawal|           3863|        null|        null|    0.0|        32|       802|      Clouds|   scattered clouds|         50|           5|   6134|   104|
| 572491|    Active|     DKK|Withdrawal|           6662|        null|        null|    0.0|        56|       701|        Mist|               mist|         50|           4|   1389|   104|
|1875772|    Active|     DKK|Withdrawal|           2286|        null|        null|    0.0|        32|       802|      Clouds|   scattered clouds|         50|           5|   6134|   104|
| 572631|    Active|     DKK|Withdrawal|           8094|        null|        null|    0.0|        32|       500|        Rain|         light rain|         50|           8|    423|   104|
|1876285|    Active|     DKK|Withdrawal|           3636|        null|        null|    0.0|        32|       802|      Clouds|   scattered clouds|         50|           5|   6134|   104|
| 572700|    Active|     DKK|Withdrawal|           5505|        null|        null|    0.0|        32|       701|        Mist|               mist|         50|           7|   2228|   104|
|1876244|    Active|     DKK|Withdrawal|           2806|        null|        null|    0.0|        32|       802|      Clouds|   scattered clouds|         50|           4|   6134|   104|
+-------+----------+--------+----------+---------------+------------+------------+-------+----------+----------+------------+-------------------+-----------+------------+-------+------+
only showing top 10 rows

In [25]:
bank_fact=bank_fact.withColumnRenamed("Id", "trans_Id").withColumnRenamed("location_id", "weather_loc_id").withColumnRenamed("Atm_Status", "atm_status").withColumnRenamed("Currency", "currency").withColumnRenamed("Service", "service").withColumnRenamed("Transaction_Amt", "transaction_amount").withColumnRenamed("Message_Code", "message_code").withColumnRenamed("Message_Text", "message_text").withColumnRenamed("Rain_3h", "rain_3h").withColumnRenamed("Clouds_All", "clouds_all").withColumnRenamed("Weather_Id", "weather_id").withColumnRenamed("Weather_Main", "weather_main").withColumnRenamed("Weather_Description", "weather_description")

In [26]:
bank_fact.count()

2468572

In [27]:
bank_fact.columns

['trans_Id',
 'atm_status',
 'currency',
 'service',
 'transaction_amount',
 'message_code',
 'message_text',
 'rain_3h',
 'clouds_all',
 'weather_id',
 'weather_main',
 'weather_description',
 'weather_loc_id',
 'card_type_id',
 'date_id',
 'atm_id']